{% extends 'panel_admin/admin_base.html' %}

{% block titulo %}Admin - Empleados{% endblock %}

{% block contenido %}

<div class="container-fluid">
    <div class="row my-3">
        <div class="col-lg-9 col-md-8 col-sm-12 mb-3 mb-md-0">
            <div class="box h-100">
                <h3 class="text-center py-2">Mejor empleado por meses</h3>
                <div id="graficoLinealVentasAnio" class="h-100"></div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="box h-100 d-flex flex-column justify-content-center py-3">
                <h3 class="text-center py-2">Empleados con más ingresos</h3>

                <div class="flex-grow-1 d-flex flex-column justify-content-center px-4">
                    <div class="d-flex justify-content-between">
                        <h4>Juan Perez</h4>
                        <h4>100</h4>
                    </div>
                    <hr class="m-1">

                    <div class="d-flex justify-content-between">
                        <h4>Fabrizio Sánchez</h4>
                        <h4>60</h4>
                    </div>
                    <hr class="m-1">

                    <div class="d-flex justify-content-between">
                        <h4>Larry Kapija</h4>
                        <h4>50</h4>
                    </div>
                    <hr class="m-1">

                    <div class="d-flex justify-content-between">
                        <h4>Pablo Picaso</h4>
                        <h4>40</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-lg-3 col-md-6 col-sm-12 mb-3 mb-md-0">
            <div class="box h-100 d-flex flex-column justify-content-center py-3">
                <h3 class="text-center py-2">Empleados con más ventas</h3>

                <div class="flex-grow-1 d-flex flex-column justify-content-center px-4">
                    <div class="d-flex justify-content-between">
                        <h4>Juan Perez</h4>
                        <h4>100</h4>
                    </div>
                    <hr class="m-1">

                    <div class="d-flex justify-content-between">
                        <h4>Fabrizio Sánchez</h4>
                        <h4>60</h4>
                    </div>
                    <hr class="m-1">

                    <div class="d-flex justify-content-between">
                        <h4>Larry Kapija</h4>
                        <h4>50</h4>
                    </div>
                    <hr class="m-1">

                    <div class="d-flex justify-content-between">
                        <h4>Pablo Picaso</h4>
                        <h4>40</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="box h-100 d-flex flex-column justify-content-center py-3">
                <h3 class="text-center py-2">Empleados más eficaces (mins)</h3>

                <div class="flex-grow-1 d-flex flex-column justify-content-center px-4">
                    <div class="d-flex justify-content-between">
                        <h4>Juan Perez</h4>
                        <h4>100</h4>
                    </div>
                    <hr class="m-1">

                    <div class="d-flex justify-content-between">
                        <h4>Fabrizio Sánchez</h4>
                        <h4>60</h4>
                    </div>
                    <hr class="m-1">

                    <div class="d-flex justify-content-between">
                        <h4>Larry Kapija</h4>
                        <h4>50</h4>
                    </div>
                    <hr class="m-1">

                    <div class="d-flex justify-content-between">
                        <h4>Pablo Picaso</h4>
                        <h4>40</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
