{% extends 'panel_admin/admin_base.html' %}

{% block titulo %}Admin - Ventas{% endblock %}

{% block contenido %}

<style>
</style>

<div class="row h-50 my-3 mx-0">
    <div class="col-9 h-100">
        <div class="box h-100">
            <h3 class="text-center py-3">Ventas en el último año</h3>
            <div id="graficoLinealVentasAnio" class="h-75"></div>
        </div>
    </div>

    <div class="col-3 h-100">
        <div class="box h-100">
            <h3 class="text-center py-3">Días con más ventas</h3>
            
            <div class="flex-grow-1 d-flex flex-column justify-content-center px-4">
                {% if top_dias_data %}
                    {% for dia in top_dias_data %}
                        <div class="d-flex justify-content-between">
                            <h4>{{ dia.dia }}</h4>
                            <h4>{{ dia.total_ventas }}</h4>
                        </div>
                        <hr class="m-1">
                    {% endfor %}
                {% else %}
                    <div class="text-center">
                        <h4>Sin datos</h4>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row h-50 my-2 mx-0">
    <div class="col-3 h-100">
        <div class="box h-100">
            <h3 class="text-center py-3">Métodos de pago</h3>
            <div id="graficoCircularPagos" class="h-75"></div>
        </div>
    </div>

    <div class="col-3 h-100">
        <div class="box h-100">
            <h3 class="text-center py-3">Ingresos del mes</h3>
            <div class="d-flex justify-content-center align-items-center" style="height: 60%;">
                <p class="display-3" style="background: linear-gradient(45deg, #ff7e5f, #D03139); -webkit-background-clip: text; color: transparent; text-align: end;">S/.{{ ingresos_mes }}<br>.00</p>
            </div>
        </div>
    </div>

    <div class="col-3 h-100">
    <div class="box h-100">
        <h3 class="text-center py-3">Horas con más ventas</h3>
        
        <div class="flex-grow-1 d-flex flex-column justify-content-center px-4">
            {% if top_horas_data %}
                {% for hora in top_horas_data %}
                    <div class="d-flex justify-content-between">
                        <h4>{{ hora.hora }}</h4>
                        <h4>{{ hora.total_ventas }}</h4>
                    </div>
                    <hr class="m-1">
                {% endfor %}
            {% else %}
                <div class="text-center">
                    <h4>Sin datos</h4>
                </div>
            {% endif %}
        </div>
    </div>
</div>


    <div class="col-3 h-100">
        <div class="box h-100">
            <h3 class="text-center py-3">Costo promedio de venta</h3>
            <div class="d-flex justify-content-center align-items-center" style="height: 60%;">
                <p class="display-3" style="background: linear-gradient(45deg, #ff7e5f, #D03139); -webkit-background-clip: text; color: transparent; text-align: end;">S/.{{ costo_promedio_venta }}<br>.00</p>
            </div>
        </div>
    </div>

</div>

<script>
    const chartData = {{ data_ventas|safe }};
    const chartDataPagos = {{ data_pagos|safe }};
    const chartMeses = {{ meses|safe }};

    console.log(chartData);
    console.log(chartMeses);
    
    // Gráfico Linear
    const graficoLinealVentasAnio = echarts.init(document.getElementById('graficoLinealVentasAnio'));
    const optionLineal = {
        tooltip: {},
        
        xAxis: {
            type: 'category',
            data: chartMeses
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: 'Datos',
            type: 'line',
            data: chartData
        }]
    };
    
    graficoLinealVentasAnio.setOption(optionLineal);
    window.addEventListener('resize', () => {
        graficoLinealVentasAnio.resize();
    });

    // Gráfico Circular de Métodos de Pago
    const graficoCircularPagos = echarts.init(document.getElementById('graficoCircularPagos'));
    const optionCircular = {
        tooltip: {
            trigger: 'item'
        },
        series: [{
            type: 'pie',
            radius: '50%',
            data: [
                { value: chartDataPagos[0], name: 'Tarjeta' },
                { value: chartDataPagos[1], name: 'Efectivo' }
            ],
            emphasis: {
                itemStyle: {
                    shadowBlur: 10,
                    shadowOffsetX: 0,
                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                }
            }
        }],
        color: ['#FFD40D', '#D03139']
    };

    graficoCircularPagos.setOption(optionCircular);
    window.addEventListener('resize', () => {
        graficoCircularPagos.resize();
    });
</script>





{% endblock %}
