{% extends 'panel_admin/admin_base.html' %}

{% block titulo %}Admin - Clientes{% endblock %}

{% block contenido %}

<div class="row h-50 my-3 mx-0">
    <div class="col-9">
        <div class="box h-100 d-flex flex-column">
            <h3 class="text-center py-3 px-1">Clientes en el último año</h3>
            <div id="graficoLinealVentasAnio" class="flex-grow-1"></div>
        </div>
    </div>
    <div class="col-3">
        <div class="box h-100 d-flex flex-column justify-content-center">
            <h3 class="text-center py-3 px-1">Clientes más frecuentes</h3>

            <div class="flex-grow-1 px-4">
                <div class="d-flex justify-content-between">
                    <h4>Juan Perez</h4>
                    <h4>100</h4>
                </div>
                <hr class="m-1">

                <div class="d-flex justify-content-between">
                    <h4>Fabrizio Sánchez</h4>
                    <h4>60</h4>
                </div>
                <hr class="m-1">

                <div class="d-flex justify-content-between">
                    <h4>Larry Kapija</h4>
                    <h4>50</h4>
                </div>
                <hr class="m-1">

                <div class="d-flex justify-content-between">
                    <h4>Pablo Picaso</h4>
                    <h4>40</h4>
                </div>
            </div>
        </div>            
    </div>
</div>

<div class="row h-50 my-2 mx-0">      
    <!--cantidad de clientes que regresan luego de su primera compra-->
    <div class="col-3 h-100">
        <div class="box h-100 d-flex flex-column">
            <h3 class="text-center py-3 px-1">Porcentaje de retención</h3>
            <div class="flex-grow-1 d-flex justify-content-center align-items-center contenedor-texto">
                <p class="color-numero">{{ porcentaje_retencion }}% </p>
            </div>
        </div>
    </div>

    <div class="col-3 h-100">
        <div class="box h-100 d-flex flex-column">
            <h3 class="text-center py-3 px-1">Total de clientes</h3>
            <div class="flex-grow-1 d-flex justify-content-center align-items-center contenedor-texto">
                <p class="color-numero">{{ total_clientes }}</p>
            </div>
        </div>
    </div>

    <div class="col-3 h-100">
        <div class="box h-100 d-flex flex-column">
            <h3 class="text-center py-3 px-1">Clientes nuevos este mes</h3>
            <div class="flex-grow-1 d-flex justify-content-center align-items-center contenedor-texto">
                <p class="color-numero">{{ clientes_nuevos_mes }}</p>
            </div>
        </div>
    </div>
    </div>

    <script>
        const chartDataClientes = {{ data_clientes|safe }};
        const arregloMeses = {{ meses|safe }};
        console.log("hola")
        console.log(arregloMeses);
    </script>
    {% endblock %}
