{% extends 'panel_admin/admin_base.html' %}

{% block titulo %}Admin - Clientes{% endblock %}

{% block contenido %}

<div class="container-fluid min-vh-100">  
    <div class="row my-3">
        <div class="col-9">
            <div class="box h-100">
                <h3 class="text-center py-2">Mejor empleado por meses</h3>
                <div id="graficoLinealVentasAnio" class="h-100"></div>
            </div>
        </div>
        <div class="col-3">
            <div class="box h-100 d-flex flex-column justify-content-center">
                <h3 class="text-center my-2">Empleados con más ingresos</h3>
                
                <div class="flex-grow-1 d-flex flex-column justify-content-center px-4">
                    <div class="d-flex justify-content-between">
                        <h4>Juan Perez</h4>
                        <h4>100</h4>
                    </div>
                    <hr class="m-1">
                    
                    <div class="d-flex justify-content-between">
                        <h4>Fabrizio Sánchez</h4>
                        <h4>60</h4>
                    </div>
                    <hr class="m-1">
                    
                    <div class="d-flex justify-content-between">
                        <h4>Larry Kapija</h4>
                        <h4>50</h4>
                    </div>
                    <hr class="m-1">
                    
                    <div class="d-flex justify-content-between">
                        <h4>Pablo Picaso</h4>
                        <h4>40</h4>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <div class="row my-3">
        <!-- <div class="col-3">
            <div class="box h-100">
                <h3 class="text-center py-2">Métodos de pago</h3>
                <div id="graficoCircularPagos" class="h-100"></div>
            </div>
        </div>
        <div class="col-3">
            <div class="box h-100 d-flex flex-column justify-content-center">
                <h3 class="text-center my-2">Ingresos del mes</h3>
                <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                    <p class="display-1" style="background: linear-gradient(45deg, #ff7e5f, #D03139); -webkit-background-clip: text; color: transparent; text-align: end;">S/.93<br>.30</p>
                </div>
            </div>
        </div>-->
        
        <div class="col-3">
            <div class="box h-100 d-flex flex-column justify-content-center">
                <h3 class="text-center my-2">Empleados con más ventas</h3>
                
                <div class="flex-grow-1 d-flex flex-column justify-content-center px-4">
                    <div class="d-flex justify-content-between">
                        <h4>Juan Perez</h4>
                        <h4>100</h4>
                    </div>
                    <hr class="m-1">
                    
                    <div class="d-flex justify-content-between">
                        <h4>Fabrizio Sánchez</h4>
                        <h4>60</h4>
                    </div>
                    <hr class="m-1">
                    
                    <div class="d-flex justify-content-between">
                        <h4>Larry Kapija</h4>
                        <h4>50</h4>
                    </div>
                    <hr class="m-1">
                    
                    <div class="d-flex justify-content-between">
                        <h4>Pablo Picaso</h4>
                        <h4>40</h4>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- <div class="col-3">
            <div class="box h-100 d-flex flex-column justify-content-center">
                <h3 class="text-center my-2">Costo promedio de venta</h3>
                <div class="d-flex flex-grow-1 justify-content-center align-items-center">
                    <p class="display-1" style="background: linear-gradient(45deg, #ff7e5f, #D03139); -webkit-background-clip: text; color: transparent; text-align: end;">S/.93<br>.30</p>
                </div>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}
